/* globals.css */
@import 'tailwindcss';

/* Add global base styles */
@layer base {
  body {
    @apply min-h-screen w-full m-0;
    font-family: 'Twkeverett', sans-serif;
    background-image: url('/left-gradient.svg'), url('/right-gradient.svg');
    background-repeat: no-repeat, no-repeat;
    background-position:
      left top,
      right top;
    background-size: cover, cover;
  }
}

/* Add reusable component classes */
@layer components {
  .btn-primary {
    outline: none;
    @apply bg-blue-600 text-white py-2 px-4 rounded;
  }
}

/* Add custom utility classes */
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}

@theme {
  --color-svm-1: #fef2eb;
  --color-svm-2: #fcd7c2;
  --color-svm-3: #fbbc99;
  --color-svm-4: #f9a270;
  --color-svm-5: #f78747;
  --color-svm-6: #f66c1e;
  --color-svm-7: #e15709;
  --color-svm-8: #b84708;
  --color-svm-9: #8f3706;
  --color-svm-10: #662804;
  --color-svm-11: #3d1803;
  --color-svm-12: #140801;
}
